@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#reklamAdmin {
    @include MyFlex();
    flex-direction: column;
    gap: 50px;
    padding: 0px 100px;
    position: relative;
    background: var(--mode-color-2);
    justify-content: start;
    padding: 50px 100px;

    h1 {
        font-size: 50px;
        color: var(--mode-color-1);
    }

    table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        tr {
            text-align: center;
            display: flex;
            gap: 10px;

            th {
                border: 1px solid var(--mode-color-3);
                border-radius: 5px;

                width: 300px;
                @include MyFlex();
                justify-content: space-between;
                padding: 0px 20px;
                height: 60px;
                overflow: hidden;
                color: var(--mode-color-3);

                img {
                    border-radius: 5px;
                    width: 300px;
                }

                p {
                    color: var(--mode-color-14);
                }
            }

        }
    }

    button {
        background: var(--mode-color-14);
        color: white;
        cursor: pointer;
        height: 40px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
    }

    .reklamFormBox {
        background: rgba(0, 0, 0, 0.596);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include MyFlex();
        display: none;

        form {
            display: flex;
            background: var(--mode-color-7);
            padding: 10px;
            border-radius: 5px;
            flex-direction: column;
            gap: 10px;
            width: 300px;
            color: white;

            position: relative;

            .posterLabel {
                font-size: 17px;
                color: var(--mode-color-13);
            }

            .uploadBtn {
                font-size: 17px;
            }

            .closeBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
            }

            label {
                font-size: 20px;
            }

            input {
                padding: 10px;
                outline: none;
                border-radius: 4px;
                border: none;
            }

            button {
                height: 35px;
                width: 70px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: var(--mode-color-13);
                color: white;
                font-size: 14px;
            }
        }
    }

    .openForm {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    #reklamAdmin {
        h1 {
            font-size: 29px;
        }
    }
}