@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
.moviesDetailPage {
    position: relative;
    .loadBox{
        height: 82vh;
        @include MyFlex();
        background: var(--mode-color-1);
    }
    .movieWatchBox {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.501);
        z-index: 5;
        display: none;

        .video {
            width: 100%;
            height: 100%;
            .reklamShow{
              display: none;
            }
        }

        .closeBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            color: white;
            cursor: pointer;
            z-index: 2;
        }


    }

    .openMovieBox {
        display: block;
    }

    .headerBox {
        height: 50vh;
        overflow: hidden;
        position: relative;
       

        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
            // aspect-ratio: 1 / 1;
        }


    }

    .downBox {

        background: var(--mode-color-1);
        padding: 40px 60px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;

        .trailerBox {
            position: absolute;
            top: 60px;
            right: 30px;
            height: 80%;
            width: 35%;
            border-radius: 7px;
            @include MyFlex();
            overflow: hidden;
            display: none;
            iframe {
                width: 100%;
                height: 100%;

            }

        }

        .open {
            display: flex;
        }

        .normalBox {
            display: flex;
            gap: 15px;

        }

        .firstBox {
            @include MyFlex();
            justify-content: start;
            gap: 15px;
            height: 50px;

            h1 {
                font-size: 50px;
                color: var(--bg-color-1);

            }

            .starsBox {
                font-size: 18px;
                margin-left: 10px;
                color: gold;
            }

            p {
                font-size: 20px;
                color: var(--mode-color-2);
            }

            img {
                max-width: 50px;
            }
        }

        .secondBox {
            gap: 5px;
            @include MyFlex();
            justify-content: start;

            p {
                font-size: 20px;
                color: var(--bg-color-1);
            }

            span {
                color: var(--mode-color-2);
            }
        }

        .thirdBox {
            display: flex;
            gap: 10px;
            @include MyFlex();
            justify-content: start;

            p {
                font-size: 20px;
                color: var(--mode-color-2);
            }

            span {
                color: var(--bg-color-1);
            }
        }

        .endBox {
            display: flex;
            gap: 10px;

            .btn {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                @include MyFlex();
                background: var(--bg-color-1);
                border: 5px solid var(--mode-color-2);
                cursor: pointer;
                color: var(--mode-color-2);
                font-size: 25px;

                &:hover {
                    border: 5px solid gray;
                    color: gray;
                }

                .playlistBox {
                    @include MyFlex();

                }
            }

            .watchBtn {
                background: var(--bg-color-1);
                width: 100px;
                font-size: 20px;
                @include MyFlex();
                height: 100%;
                margin-left: 10px;
                border-radius: 6px;
                cursor: pointer;
                color: var(--mode-color-2);
            }

            .trailerBtn {
                background: var(--mode-color-2);
                width: 100px;
                font-size: 20px;
                @include MyFlex();
                margin-left: 10px;
                border-radius: 6px;
                cursor: pointer;
                color: var(--bg-color-1);
            }
        }

        .seriesBox {
            // background: red;
            height: 40px;
            width: 280px;
            border-radius: 7px;
            @include MyFlex();
            color: var(--mode-color-2);
            justify-content: space-between;
            padding: 0px 10px;
            border: 1px solid var(--bg-color-1);
            cursor: pointer;
            position: relative;

            .openSeriesBox {
                width: 280px;
                border-radius: 7px;
                position: absolute;
                top: 50px;
                left: 0;
                z-index: 3;
                display: none;
                flex-direction: column;
                gap: 10px;
                background-color: var(--mode-color-1);

                .series {
                    background: var(--bg-color-1);
                    width: 100%;
                    height: 40px;
                    border-radius: 7px;

                }

            }

            .openBox {
                display: flex;
            }
        }


        .commentBox {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            span {
                font-size: 25px;
                color: var(--mode-color-2);
            }

            form {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    background: transparent;
                    border: none;
                    border-radius: 7px;
                    width: 290px;
                    padding: 20px 100px 100px 20px;
                    outline: none;
                    border: 1px solid var(--mode-color-2);
                    color: var(--mode-color-2);
                }

                button {
                    background: var(--bg-color-1);
                    color: white;
                    height: 40px;
                    width: 100px;
                    border-radius: 7px;
                    border: 1px solid var(--mode-color-2);
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;

                    p {
                        position: absolute;
                        top: 11px;
                        left: 30px;
                        z-index: 2;
                    }

                    .line {
                        background: rgba(0, 0, 0, 0.229);
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0px;
                        transition: 0.6s;

                    }
                }

                button:hover {
                    .line {
                        width: 100%;
                        transition: 0.6s;
                    }
                }
            }
        }

        .allCommentBox {
            margin-top: 50px;

            span {
                font-size: 25px;
                color: var(--mode-color-2);
            }

            .sendCommentBox {
                margin-top: 10px;
                border: 1px solid var(--mode-color-2);
                padding: 20px 20px 90px;
                width: 700px;
                border-radius: 7px;
                color: var(--mode-color-2);
            }
        }
    }

}


@media only screen and (max-width: 684px) {
    .moviesDetailPage {
        .downBox {
            .trailerBox {
                top: -200px;
                left: 10px;
                height: 180px;
                width: 250px;
            }
        }
    }
}

@media only screen and (max-width: 486px) {
    .moviesDetailPage {
        .downBox {
            .trailerBox {
                left: 5px;
                height: 200px;
                width: 96%;
            }
        }
    }
}

@media only screen and (max-width: 810px) {
    .moviesDetailPage {
        .downBox {
            .allCommentBox {
                width: 100%;

                .sendCommentBox {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 551px) {
    .moviesDetailPage {
        .downBox {
            padding: 40px 20px;

            .firstBox {
                align-items: start;
                gap: 10px;
                height: 90px;
                flex-direction: column;
            }
        }
    }
}

@media only screen and (max-width: 428px) {
    .moviesDetailPage {
        .downBox {
            .commentBox {
                width: 100%;

                form {
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}