/* *{
    cursor: none;
} */
.cursor{
    height: 20px;
    width: 20px;
    background-color: var(--bg-color-1);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
z-index: 6;
    cursor: none;
}