:root{
    --bg-color-1:#DC3918;
    --mode-color-1:#121212;
    --mode-color-2:white;
    --mode-color-3:#141314;
    --mode-color-4:#0d0c0c;
    --mode-color-5:#0d0c0c24;
    --mode-color-6:#ebeae9;

    font-family: 'Space Grotesk', sans-serif;
    
    --mode-color-7:#00B4D8; 
    /* 1 */
    --mode-color-8:#121212;
    /* 2 */
    --mode-color-9:#ebeae9;
    /* 3 */
    --mode-color-10:#DEE2E6;
    /* 4 */
    --mode-color-11:#00517d70;
    /* 5 */
    --mode-color-12:#00607367;
    /* 6 */
    --mode-color-13:#03045E;
    /* 7 */
    --mode-color-14:#005eb6bc;
}
.purpleColor{
    --bg-color-1:#F9C80E;
    --bg-color-2:#0077B6;
    --bg-color-3:#DC3918;
    --bg-color-4:#F9C80E;
    --bg-color-5:red;


}
.orangeColor{
    --bg-color-1:#DC3918;
    --bg-color-2:#F9C80E;
    --bg-color-3:#DC3918;
    --bg-color-4:#0077B6;
    --bg-color-5:#0077B6;


}
.blueColor{
    --bg-color-1:#0077B6;
    --bg-color-2:#DC3918;
    --bg-color-3:#DC3918;
    --bg-color-4:#0077B6;
    --bg-color-5:#F9C80E;

}
.lightMode{
    --mode-color-1:#ebeae9;
    --mode-color-2:#121212;
    --mode-color-3:#ebeae9;
    --mode-color-4:#B2B2B2;
    --mode-color-5:transparent;
    --mode-color-6:#ebeae9;


    --mode-color-7:#03045E;
    /* 1 */
    --mode-color-8:#ebeae9;
    /* 2 */
    --mode-color-9:#121212;
    /* 3 */
    --mode-color-10:#343A40;
    /* 4/'' */
    --mode-color-11:#00607367;
    /* 5 */
    --mode-color-12:#00517d70;
    /* 6 */
    --mode-color-13:#00B4D8;
    /* 7 */
    --mode-color-14:#1E96FC;
}
.link{
    text-decoration: none;
}
::selection {
     background-color:var(--bg-color-1); 
     color: var(--mode-color-2);
  }

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 10px solid var(--bg-color-1) ;
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff ;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
    background:var(--mode-color-1) !important;

}
::-webkit-scrollbar-track:hover {
    background:var(--mode-color-1);

}
::-webkit-scrollbar-track:active {
    background:var(--mode-color-2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}


