@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();

#loginAdmin {
    // height: 100vh;
    border-radius: 7px;
    width: 100%;
    @include MyFlex();
    justify-content: start;
    padding: 70px 10px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    position: relative;

    h1 {
        font-size: 70px;
        color: var(--mode-color-1);
    }

    .gifFormBox {
        background: rgba(0, 0, 0, 0.596);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include MyFlex();
        display: none;

        form {
            display: flex;
            background: var(--mode-color-1);
            padding: 10px;
            border-radius: 5px;
            flex-direction: column;
            gap: 10px;
            width: 300px;
            color: white;
            position: relative;

            .uploadBtn {
                font-size: 17px;
            }

            .closeBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
            }


            label {
                font-size: 20px;
            }

            input {
                padding: 0px 0px;
                outline: none;
                border-radius: 4px;
                border: none;
            }

            button {
                height: 35px;
                width: 70px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: var(--mode-color-8);
                color: white;
            }
        }
    }

    .openForm {
        display: flex;
    }

    table {
        // border: 1px solid white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

        tr {
            @include MyFlex();
            gap: 10px;

            th {
                border: 1px solid var(--mode-color-3);
                border-radius: 3px;
                width: 200px;
                color: var(--mode-color-3);
                font-size: 14px;
            }

            td {
                border: 1px solid var(--mode-color-3);
                border-radius: 3px;
                overflow: hidden;
                width: 200px;
                @include MyFlex();
                height: 100px;
                justify-content: space-between;

                img {
                    object-fit: cover;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                }



                color: var(--mode-color-3);

                p {
                    font-size: 30px;
                    margin-left:2px;
                    color: var(--mode-color-1);
                    cursor: pointer;
                }
            }
        }
    }

}

@media only screen and (max-width: 520px) {
    #loginAdmin {
        h1 {
            font-size: 35px;
        }

        table {
            tr {

                th {
                    width: 120px;

                }

                td {
                    padding: 0 !important;
                    width: 120px;
                    justify-content: center;

                    img {
                        object-fit: cover;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                    }

                    p {
                        font-size: 20px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }

    }
}