@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
background: var(--mode-color-2);
}
input{
    font-family: 'Space Grotesk', sans-serif;

}
button{
    font-family: 'Space Grotesk', sans-serif;

}

:root{
    --mode-color-1:#00B4D8;
    --mode-color-2:#121212;
    --mode-color-3:#ebeae9;
    --mode-color-4:#DEE2E6;
    --mode-color-5:#00517d70;
    --mode-color-6:#00607367;
    --mode-color-7:#03045E;
    --mode-color-8:#005eb6bc;

}
.lightMode{
    --mode-color-1:#03045E;
    --mode-color-2:#ebeae9;
    --mode-color-3:#121212;
    --mode-color-4:#343A40;
    --mode-color-5:#00607367;
    --mode-color-6:#00517d70;
    --mode-color-7:#00B4D8;
    --mode-color-8:#1E96FC;

}