@mixin MyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//   @include MyFlex();
.errorPage {
  background-color: var(--mode-color-1);
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include MyFlex();
  flex-direction: column;
  text-align: center;
.backToMovie{
  position: absolute;
  bottom: 60px;
  font-size: 20px;
  background: var(--bg-color-1);
  // padding: 14px 40px;
  height: 50px;
  width: 240px;
  border-radius: 7px;
  position: relative;
  bottom: -110px;
  overflow: hidden;
  p{
    position: absolute;
    top: 11px;
    left: 22%;
    z-index: 3;
    color: var(--mode-color-1);
  }
  .line{
    background: var(--mode-color-2);
    position: absolute;
    bottom: 0;
    height: 0px;
    width: 100%;
    transition: 0.4s;
    transform-origin: bottom;
  }
  &:hover{
    .line{
        height: 100%;
    transition-delay: top 300ms;
    top: 0;
    }
}
  .link{
    color: white;
  }
}
  .filmBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include MyFlex();
    justify-content: start;
    padding: 50px;

    img {
      width: 650px;
    }

  }

  .upBox {
    position: absolute;
    color: var(--mode-color-2);
    top: 10px;
    @include MyFlex();
    flex-direction: column;
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 100px;
      color: var(--bg-color-1);
    }

    span {
      font-size: 60px;
    }

  }

  img {
    position: absolute;
    max-width: 400px;
    z-index: 2;
  }

  .marquee,
  .marquee2 {
    z-index: 1;
    position: absolute;
    bottom: 100px;
    width: 600px; // or 100% inside a container
    height: 30px;
    padding: 30px 0px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color: var(--bg-color-1);
    height: 100px;
    font-size: 50px;
    width: 100%;
    color: white;
    transform: rotate(14deg) scale(1.2);
    margin-top: 250px;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 50px;
      height: 30px;
      content: "";
      z-index: 1;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .marquee__content {
    width: 300% !important;
    display: flex;
    line-height: 30px;
    animation: marquee 10s linear infinite forwards;

    &:hover {
      animation-play-state: paused;
    }
  }

  .list-inline {
    display: flex;
    justify-content: space-around;
    width: 33.33%;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-66.6%);
    }
  }

  .marquee2 {
    position: absolute;
    bottom: 100px;
    background: var(--mode-color-2);
    transform: rotate(165deg) scale(1.2);
    margin-top: 0px;
    margin-bottom: 180px;
    z-index: 2;

    ul {
      li {
        transform: scale(-1);
        color: var(--bg-color-1);
      }
    }
  }
}


@media only screen and (max-width: 572px) {
  .errorPage {
    .upBox {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 70px;
      }
      span {
        font-size: 40px;
      }
    }
    .marquee,
    .marquee2 {
  .firtErrorLi{
    display: none;
  }
    }
  }
}