@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#filmCategoryAdmin {
    border-radius: 7px;
    width: 100%;
    @include MyFlex();
    flex-direction: column;
    gap: 50px;
    position: relative;
    justify-content: start;
    padding: 50px 0px;

    h1 {
        font-size: 50px;
        color: var(--mode-color-1);
    }

    .gifFormBox {
        background: rgba(0, 0, 0, 0.596);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include MyFlex();
        display: none;

        form {
            display: flex;
            background: var(--mode-color-7);
            padding: 10px;
            border-radius: 5px;
            flex-direction: column;
            gap: 10px;
            width: 300px;
            color: white;
            position: relative;
            // @include MyFlex();

            .closeBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
            }

            .gifLabel {
                font-size: 15px;
                @include MyFlex();

            }

            .uploadBtn{
                font-size: 17px;
            }

            label {
                font-size: 20px;
            }

            input {
                padding: 10px;
                outline: none;
                border-radius: 4px;
                border: none;
            }

            button {
                height: 35px;
                width: 70px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: var(--mode-color-13);
                color: white;

            }
        }
    }

    .openForm {
        display: flex;
    }

    table {
        // border: 1px solid white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        tr {
            @include MyFlex();
            gap: 10px ;
            // background: red;

            th {
                border: 1px solid var(--mode-color-1);
                border-radius: 3px;
                width: 200px;
                color: var(--mode-color-1);
            }

            td {
                margin-top: 15px;
                border: 1px solid var(--mode-color-1);
                border-radius: 3px;
                overflow: hidden;
                width: 200px;
                @include MyFlex();
                height: 100px;
                justify-content: space-around;
                img {
                    max-width: 200px;
                }

                color: var(--mode-color-1);

                p {
                    font-size: 20px;
                    color: var(--mode-color-14);
                    cursor: pointer;
                }

                span {
                    font-size: 15px;
                }
            }
        }
    }

}

@media only screen and (max-width: 520px) {
    #filmCategoryAdmin {
        h1 {
            font-size: 30px;
        }

        table {
            tr {

                th {
                    width: 120px;

                }

                td {
                    padding: 0 !important;
                    width: 120px;
                    justify-content: center;

                    img {
                        object-fit: cover;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                    }

                    p {
                        font-size: 20px;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}