* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#dashBoard {
    background: var(--mode-color-14);
    background-color: var(--mode-color-14);
    position: fixed;
    width: 340px;
    height: 100vh;
    z-index: 7;
    top: 0;
    left: 0;
    @include MyFlex();
    transition: 0.7s;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  
    .getBackBtn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        background-color: transparent;
        border: none;
        .link{
            color: var(--mode-color-10);
        }
    }
    .languageBox {
        position: absolute;
        top: 17px;
        right: 130px;
        display: flex;
        gap: 10px;

        .language {
            height: 25px;
            width: 50px;
            overflow: hidden;
            border-radius: 5px;
            cursor: pointer;

            img {
                max-width: 100%;
            }
        }
    }
  
    .menuBox {
        position: absolute;
        top: 5px;
        right: -50px;
        cursor: pointer;
        background: var(--mode-color-14);
        font-size: 30px;
        height: 40px;
        width: 40px;
        @include MyFlex();
        border-radius: 7px;
        color: var(--mode-color-10);
        transition: 0.5s;
        display: none;
        border: 1px solid var(--mode-color-10);
    }

    .hidden {
        right: 10px;
        transition: 0.5s;
    }

    ul {
        padding: 20px 0px;
        list-style: none;
        width: 100%;

        li {
            padding: 10px;
            font-size: 20px;

            .link {
                text-decoration: none;
                color: var(--mode-color-1);
            }

            .active {
                color: var(--mode-color-2);
            }

            &:hover {
                background: var(--mode-color-12);
            }
        }
    }

    .location {
        background: var(--mode-color-12);
    }

}

.open {
    transform: translateX(0px);
    transition: 0.7s;
    border-radius: 0px;
}

@media only screen and (max-width: 1171px) {
    #dashBoard {
        transform: translateX(-100%);

        .menuBox {
            display: flex;

        }
    }
}

@media only screen and (max-width: 400px) {
    #dashBoard {
        width: 100%;


    }
}