@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#informAdmin {
    width: 100%;
    height: 100%;
    @include MyFlex();
    flex-direction: column;
    gap: 70px;
    padding: 50px 10px;
position: relative;
background: var(--mode-color-2);
    h1 {
        color: var(--mode-color-1);
        font-size: 70px;
    }

    table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        tr {
            display: flex;
            gap: 10px;

            th {
                width: 100px;
                border: 1px solid var(--mode-color-3);
                border-radius: 5px;
                color: var(--mode-color-3);

            }

            td {
                border: 1px solid var(--mode-color-3);
                width: 100px;
                height: 100px;
                border-radius: 5px;

                @include MyFlex();
                text-align: center;
                overflow: hidden;
                padding: 0px 10px;
                color: var(--mode-color-3);

                button {
                    height: 40px;
                    width: 40px;
                    font-size: 25px;
                    border-radius: 7px;
                    @include MyFlex();
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    color: red;
                }   
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                span{
                    font-size: 30px;
                    color: var(--mode-color-1);
                    cursor: pointer;
                }
            }
        }
    }
    .informFormBox{ 
         background: rgba(0, 0, 0, 0.596);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include MyFlex();
        display: none;
        form {
            display: flex;
            background: var(--mode-color-1);
            padding: 10px;
            border-radius: 5px;
            flex-direction: column;
            gap: 10px;
            width: 300px;
            color: white;
            position: relative;
    .uploadBtn{
        font-size: 17px;
    }
            .closeBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
            }
    
            label {
                font-size: 20px;
            }
            input[type="file"] {
                background: white;
                cursor: pointer;
                color: var(--mode-color-7);
             }
            
            input {
                padding: 10px;
                outline: none;
                border-radius: 4px;
                border: none;
            }
    
            button {
                height: 35px;
                width: 70px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: var(--mode-color-8);

                color: white;
            }
        }
    }
  .openForm{
    display: flex;
  }
}
@media only screen and (max-width: 754px) {
    #informAdmin {
        h1 {
            font-size: 30px;
        }
    
        table {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            tr {
                display: flex;
                gap: 10px;
    
                th {
                    width: 55px;
                    font-size: 9px;
                }
    
                td {
                    width: 55px;
                }
            }
        }
    }
}