@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.headerFromMovie {
    height: 30vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    p {
       font-size: 100px;
       text-transform: uppercase;
       vertical-align: baseline;
       color: white;
       text-align: center;
       font-weight: 700;
       line-height:80.0003px;
       font-family: 'Space Grotesk', sans-serif;
    }
}
@media only screen and (max-width: 436px) {
    .headerFromMovie {
        p {
           font-size: 55px;
        }
    }
}