@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#movieCart {
    @include MyFlex();
    flex-direction: column;
    position: relative;
    background: var(--mode-color-2);
    justify-content: start;
    h1 {
        font-size: 50px;
        color: var(--mode-color-1);
        margin-bottom: 10px
    }

    .createMovieBox {
        height: 100vh;
        // position: absolute;
        z-index: 3;
        display: none;
    }

    .allMovieCartFormBox {
        @include MyFlex();
        flex-direction: column;
        gap: 20px;
        background: var(--mode-color-7);
        padding: 40px 70px;
        border-radius: 6px;

        .rightBox,
        .leftBox {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .firstForm {
            display: flex;
            gap: 30px;

            .leftForm {
                display: flex;
                flex-direction: column;
                gap: 10px;
                @include MyFlex();
                align-items: start;

                input {
                    height: 35px;
                    width: 200px;
                }

            }

            .rightForm {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @include MyFlex();
                margin-top: 5px;

                input {
                    height: 37px;
                    width: 200px;
                    border-radius: 6px;
                    padding: 0px 10px;
                    border: 1px solid var(--mode-color-1);

                }

                select {
                    height: 37px;
                    width: 200px;
                    cursor: pointer;
                    border-radius: 6px;
                }
            }

        }

        button {
            height: 30px;
            width: 100px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid var(--mode-color-1);
        }
    }

    .openBox {
        display: block;
    }

    label {
        color: var(--mode-color-1);
    }

    .searchBox {
        margin:100px 20px 10px;
        width: 840px;
        display: flex;
        justify-content: space-between;

        button {
            background: var(--mode-color-7);
            border: 6px;
            height: 33px;
            border-radius: 5px;
            width: 100px;
            color: white;
            cursor: pointer;
        }

        input {
            height: 37px;
            width: 300px;
            padding: 0px 10px;
            border: 1px solid black;
            border-radius: 6px;
        }

    }

    table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        tr {
            text-align: center;
            display: flex;
            gap: 10px;
            color: var(--mode-color-1);

            th {
                border-radius: 6px;
                border: 1px solid var(--mode-color-1);
            }

            td {
                border-radius: 6px;

                border: 1px solid var(--mode-color-1);
            }
        }

    }

    .firstTable {
        tr {
            th {
                width: 100px;
                @include MyFlex();
                font-size: 12px;
                padding: 5px;
            }

            td {
                width: 100px;
                height: 100px;
                overflow: hidden;
                @include MyFlex();
                font-size: 12px;
                font-weight: 600;

                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 0px 10px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1 / 1;
                }

                video {
                    object-fit: cover;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                }
            }
        }

        margin-bottom: 50px;
    }


}