@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

.loginPage {
    background: var(--mode-color-1);
    height: 86vh;
    @include MyFlex();
    font-family: 'Space Grotesk', sans-serif;

    input::placeholder {
        font-family: 'Space Grotesk', sans-serif;

    }

    .notMeanLogin {
        background: var(--bg-color-1);
        height: 100%;
        width: 550px;
        z-index: 4;
        position: absolute;
        @include MyFlex();

        /* HTML: <div class="loader"></div> */
        .loader {
            width: fit-content;
            font-weight: bold;
            font-family: monospace;
            font-size: 30px;
            background: radial-gradient(circle closest-side, #000 94%, #0000) right/calc(200% - 1em) 100%;
            animation: l24 1s infinite alternate linear;
        }

        .loader::before {
            content: "Loading...";
            line-height: 1em;
            color: #0000;
            background: inherit;
            background-image: radial-gradient(circle closest-side, #fff 94%, #000);
            -webkit-background-clip: text;
            background-clip: text;
        }

        @keyframes l24 {
            100% {
                background-position: left
            }
        }
    }

    .loginBox {
        height: 85%;
        width: 70%;
        background: var(--bg-color-1);
        border-radius: 7px;
        display: flex;
        overflow: hidden;
        position: relative;

        .changeImageBox {
            position: absolute;
            height: 100%;
            width: 50%;
            z-index: 3;
            overflow: hidden;
            transition: 0.7s;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
            }
        }


        .loginChangeBox {
            width: 50%;
            height: 100%;
            @include MyFlex();
            flex-direction: column;
            gap: 10px;

            h1 {
                color: var(--mode-color-2)
            }

            form {
                @include MyFlex();
                flex-direction: column;
                gap: 10px;

                .userNameBox,
                .passwordBox {
                    width: 100%;
                    @include MyFlex();
                    justify-content: start;
                    gap: 10px;
                    background: var(--mode-color-1);
                    padding: 10px 20px;
                    border-radius: 7px;

                    input {
                        padding: 10px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        color: var(--mode-color-2);
                    }

                    .icon {
                        background: var(--mode-color-2);
                        color: var(--bg-color-1);
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                        @include MyFlex();
                        font-size: 20px;
                    }
                }

                .passwordBox {
                    .eyeIcon {
                        cursor: pointer;
                        color: gray;
                        margin-top: 5px;

                        h5 {
                            font-size: 20px;
                        }

                        h6 {
                            font-size: 20px;
                            display: none;
                        }

                        .open {
                            display: none;
                        }

                        .close {
                            display: block;
                        }
                    }
                }

                button {
                    background-color: var(--mode-color-1);
                    color: var(--mode-color-2);
                    border: none;
                    width: 100%;
                    height: 45px;
                    border-radius: 7px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;

                    p {
                        position: absolute;
                        top: 13px;
                        left: 120px;
                        font-size: 17px;
                        z-index: 2;
                        font-family: 'Space Grotesk', sans-serif;

                    }

                    .line {
                        background-color: rgba(0, 0, 0, 0.236);
                        height: 100%;
                        width: 0px;
                        position: absolute;
                        top: 0;
                        transition: 0.7s;
                    }

                    &:hover {
                        .line {
                            width: 100%;
                            transition: 0.7s;

                        }
                    }
                }

            }

            .googleBox {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .image {
                    height: 45px;
                    width: 45px;
                    border-radius: 7px;
                    background: var(--mode-color-1);
                    font-size: 40px;
                    cursor: pointer;
                    @include MyFlex();

                }

                span {
                    cursor: pointer;
                }
            }

            p {
                text-align: center;

                span {
                    color: var(--mode-color-2);
                    cursor: pointer;
                }
            }
        }

        .changeBox {
            transform: translate(100%);
            transition: 0.7s;
        }
    }
}

@media only screen and (max-width: 965px) {

    .loginPage {
        .loginBox {
            width: 95%;
        }
    }
}

@media only screen and (max-width: 735px) {
    .loginPage {
        height: 150vh;

        .loginBox {
            height: 75%;
            width: 400px;
            @include MyFlex();
            flex-direction: column;

            h1 {
                font-size: 20px;
            }

            .changeImageBox {
                height: 52.5%;
                width: 400px;
                top: 0;
            }

            .changeBox {
                transform: translateY(100%);
            }
        }
    }

}

@media only screen and (max-width: 430px) {
    .loginPage {
        .loginBox {
            .changeImageBox {
                height: 51%;
            }


        }
    }

}