@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#reklamPoster{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    padding:60px 100px 50px;
    font-family: 'Space Grotesk', sans-serif;
overflow: hidden;
    .textBox{
        background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 2px solid var(--bg-color-1);
padding: 0px 10px;
        .upTextBox{
            @include MyFlex();
            padding: 20px;
            align-items: end;
            color: var(--bg-color-1);
            gap: 50px;
            border-bottom: 13px solid var(--bg-color-1);
            h1{
                font-size: 100px;
            }
            p{
                font-size: 20px;
            }
        }
        .downTextBox{
            color: var(--bg-color-1);
            padding: 20px;
            h4{
                font-size: 30px;
                margin-bottom: 10px;
            }
            span{
                font-size: 14px;
            }
            p{
                margin: 3px 0px 14px;
            }
        }
    }
}
@media only screen and (max-width: 853px) {
    #reklamPoster{
        padding:60px 10px 50px;
        .textBox{
            .upTextBox{
                gap: 25px;
                border-bottom: 7px solid var(--bg-color-1);
                h1{
                    font-size: 50px;
                }
                p{
                    font-size: 10px;
                }
            }
            .downTextBox{
                h4{
                    font-size: 20px;
                }
                span{
                    font-size: 10px;
                }
                p{
                    font-size: 13px;
                    margin: 0px 0px 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 401px) {
    #reklamPoster{
        padding:60px 0px 50px ;
        .textBox{
            padding: 0px;
            .upTextBox{
                padding: 10px;
                gap: 10px;
            }
            .downTextBox{
            padding: 10px;
            }
        }
    }
}