@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

.pricePage {
    background-color: var(--mode-color-1);
    // height: 86vh;
    @include MyFlex();
    padding: 110px 50px;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;

    .priceCart {
        border: 3px solid var(--mode-color-4);
        width: 400px;
        text-align: center;
        border-radius: 10px;

        .saveBox {
            background-color: var(--bg-color-1);
            color: white;
            padding: 10px;
            width: 101%;
            margin-left: -1px;
            margin-top: -2px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-family: 'Space Grotesk', sans-serif;

        }

        .upBox {
            background-color: var(--mode-color-4);
            text-align: start;
            padding: 20px;
            height: 120px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: var(--mode-color-2);

            h2 {
                display: flex;
                gap: 10px;
                align-items: end;
                color: var(--bg-color-1);

                p {
                    text-decoration: line-through;
                    color: gray;
                }

                span {
                    color: var(--mode-color-2);

                    font-size: 15px;
                }
            }
        }

        .downBox {
            background-color: var(--mode-color-3);
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            // gap: 25px;
            @include MyFlex();
            align-items: start;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            .textBox {
                width: 100%;
            }

            .div {
                @include MyFlex();
                justify-content: start;
                padding: 10px;
                text-align: start;
                gap: 10px;
            }

            p {
                font-size: 18px;
                @include MyFlex();
                gap: 10px;
                color: var(--mode-color-2);
            }

            button {
                // margin-left: 25px;
                margin-top: 20px;
                height: 40px;
                width: 100%;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                position: relative;
                @include MyFlex();
                overflow: hidden;
                background-color: var(--bg-color-1);

                p {
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 15px;
                    position: absolute;
                    top: 10px;
                    left: 30% !important;
                    z-index: 3;
                    color: white;

                }

                .freePrice {
                    margin-top: 20px;
                    font-size: 17px;
                    color: white;
                }

                .stripeBox {
                    position: absolute;
                    display: flex !important;
                    width: 100%;
                    z-index: 2;
                    height: 100%;
                    justify-content: center !important;
                    align-items: center !important;
                    text-align: center !important;
                    top: -10px;
                }

                .leftLine {
                    background-color: rgba(0, 0, 0, 0.303);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    transition: 0.6s;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;

                }

                .rightLine {
                    background-color: rgba(0, 0, 0, 0.303);
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    transition: 0.6s;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            button:hover {
                .leftLine {
                    width: 50%;
                    transition: 0.8s;
                    opacity: 1;
                }

                .rightLine {
                    width: 50%;
                    transition: 0.8s;
                    opacity: 1;

                }
            }
        }
    }
}


@media only screen and (max-width: 510px) {
    .pricePage {
        padding: 110px 10px;

        .downBox {

            p {
                font-size: 12px !important;
            }

            button {
                width: 150px !important;

                p {
                    left: 25% !important;
                }
            }
        }
    }
}